.posts {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 580px;
  border: 0.1px solid lightgray;
  
}
.post_header {
  display: flex;
  margin-bottom: 10px;
}
.post_avatar{
height: 48px;
border-radius: 50%;
}
.post_info {
  margin-left: 10px;
}
.post_info  > h2{
    font-size: 14px;
    font-weight: 500;
}

.post_info > p{
    font-size: 12px;
    color: grey;
}
.post_body{
overflow-wrap: inherit;
}
.post_buttons{
    display: flex;
    justify-content: space-evenly;
}